@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body {
    background-color: #f8f7f2;
    color: black;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.title {
    font-size: 10vh;
    color: #fff;
}

.subtitle {
    color: #fff
}

.footertitle {
    font-size: 10vh;
    color: #111;
}

.vtv {
    font-size: 5vh;
    color: #111;
}

.info {
    display: flex;
    align-items: inherit;
    flex-wrap: wrap;
    justify-content: center;
}

.info p {
    padding: 20px;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0)
}

.content {
    display: flex;
    max-width: 70%;
    flex-wrap: wrap;
    justify-content: center;
}

.content p {
    transition-delay: 200ms;
    padding: 10px;
    max-width: 500px;
    text-align: justify;
}

.bio {
    display: block;
}

img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}